
.sec1 {
  display: flex;
  width: 660px;
  height: 660px;
  background-color: #48332a;
  border-radius: 10px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d1 {
  display: flex;
}

.yellowSquare {
  /* flex-shrink: 0; */
  width: 70px;
  height: 70px;
  background-color: #f0d2b4;
}

.brownSquare {
  width: 70px;
  height: 70px;
  background-color: #ba7a3a;
}
