@import url('https://fonts.googleapis.com/css2?family=Anton&family=Farro:wght@500&family=Hurricane&family=KoHo:wght@300;400&family=Oswald&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CSS VARIABLES */
:root {
    --background-v1: #fbfbff;
    --background-v2: #FFFFFF;
    --theme-color: #4070F4;
    --background-v4: #D8D8D8;
    --white-color: #FFFFFF;
    --text-color-v1: #222222;
    --text-color-v2: #444444;
    --text-color-v3: #777777;
    --shadow: inset 0 1px 0.5px rgba(255, 255, 255, 0.08),
    0 0.25px 0.4px rgba(0, 0, 0, 0.05),
    0 3.4px 6px rgba(0, 0, 0, 0.1);
    --corner-radius: 12px;

}

/* /CSS VARIABLES */

/* ==================== NAVBAR PORTION ==================== */

.myLogoSvg {

}

.Navbar-portion {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 12px;
    padding-top: 12px;
    user-select: none;
    z-index: 1000;
    box-shadow: 0 1px 4px rgb(146 161 176);
}

.Navbar-portion .nav-logo span,
.Navbar-portion .nav-links {
    display: flex;
    align-items: center;
}

.Navbar-portion .nav-logo span span {
    color: var(--theme-color);
    font-weight: 500;
    font-size: 21px;
    padding: 13px 0;
}

.Navbar-portion .nav-logo span span:last-child {
    color: var(--text-color-v1);
}

.Navbar-portion .nav-links li {
    padding: 8px;
}

.Navbar-portion .nav-links li a {
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    color: var(--text-color-v1);
    transition: all 0.3s linear;
}

.Navbar-portion .nav-links li a:hover {
    color: var(--theme-color);
}

/* SMALL NAV */
.Navbar-portion .small-nav .menu-btn,
.Navbar-portion .small-nav .mode-btn {
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--text-color-v2);
    transition: all 0.3s linear;
}

.Navbar-portion .small-nav .menu-btn:hover,
.Navbar-portion .small-nav .mode-btn:hover {
    color: var(--theme-color);
}

.Navbar-portion .small-nav .small-drop-down {
    position: absolute;
    right: 52px;
    top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 401;
    width: 300px;
    background: var(--background-v2);
    box-shadow: var(--shadow);
    border-radius: var(--corner-radius);
}

.Navbar-portion .small-nav .small-drop-down:after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--background-v2);
    transform: rotate(45deg);
    top: -7px;
    right: 39px;
    box-shadow: rgb(0 0 0.1%) -3px -3px 3px 0;
}

.Navbar-portion .small-nav .small-drop-down div li {
    margin-bottom: 10px;
}

.Navbar-portion .small-nav .small-drop-down div li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px;

}

.Navbar-portion .small-nav .small-drop-down div li a:hover span {
    color: var(--theme-color);
}

.Navbar-portion .small-nav .small-drop-down div li a span.material-icons-round {
    font-size: 21px;
    margin: 0;
    padding: 0;
}

.Navbar-portion .small-nav .small-drop-down div li a span {
    transition: all 0.3s linear;
    font-size: 15px;
    color: var(--text-color-v2);
}

/* ==================== /NAVBAR PORTION ==================== */

/* ====================  BANNER PORTION ==================== */
.Banner-Portion {
    padding: 220px 0 80px 0;
}

.Banner-Portion .grid-x1-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Banner-Portion .banner-info span {
    position: relative;
    background: var(--theme-color);
    border-radius: var(--corner-radius);
    padding: 8px 24px;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 15px;
    z-index: 2;
    transform: scale(0);
    color: var(--white-color);
    animation: sayHello 1s 0.5s forwards ease-in-out;
}

@keyframes sayHello {
    0% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.Banner-Portion .banner-info span:after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: var(--theme-color);
}

.Banner-Portion .banner-info p {
    padding: 10px 0;
}

.Banner-Portion .banner-content li span {
    font-size: 15px;
    color: var(--text-color-v2);
    font-weight: 400;
    padding: 4px 0;
}

.Banner-Portion .banner-social-media {
    margin-top: 30px;
}

.Banner-Portion .banner-social-media a {
    font-size: 20px;
    padding-right: 4px;
    color: var(--text-color-v2);
    cursor: pointer;
    transition: all 0.3s linear;
}

.Banner-Portion .banner-social-media a:hover {
    color: var(--theme-color);
}

.Banner-Portion .banner-img {
    height: 400px;
    position: relative;
}

.Banner-Portion .banner-img svg {
    height: 430px;
    width: 430px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    fill: var(--theme-color);
    z-index: 2;
}

.Banner-Portion .banner-img img {
    position: absolute;
    width: 430px;
    z-index: 5;
    right: 3px;
    bottom: 3px;
}

/* ==================== /BANNER PORTION ==================== */
/* ==================== /ABOUT PORTION ==================== */

.About-portion .about-img{
    height: 90%;
    width: 100%;
    position: relative;
    border-radius: var(--corner-radius);
}

.About-portion .about-img:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--corner-radius);
}

.About-portion .about-img img{
    height: 100%;
    width: 100%;
    border-radius: var(--corner-radius);
    object-fit: cover;
}

.About-portion .about-me .jam{
    font-size: 20px;
    color: var(--theme-color);
    padding: 3px 5px 0 0;

}

.About-portion .about-me p{
    font-weight: 400;
}

.About-portion .about-me .achievements div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 12px;
    width: 160px;
}

.About-portion .about-me .achievements div span:nth-child(1){
    font-size: 24px;
    font-weight: 500;
    color: var(--theme-color);
}

.About-portion .about-me .achievements div span:nth-child(2){
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-v2);
    padding: 3px 0;
    white-space: nowrap;
}

.About-portion .about-me .achievements div span:nth-child(3){
    font-size: 13px;
    color: var(--text-color-v3);
}
/* ==================== /ABOUT PORTION ==================== */

/* ==================== SERVICE PORTION ==================== */

.Service-portion .service-card{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: var(--corner-radius);
    box-shadow: var(--shadow);
    background: var(--background-v2);
}

.Service-portion .service-card .service-icon{
    font-size: 40px;
    color: var(--theme-color);
    padding: 4px;
}

.Service-portion .service-card p{
    font-size: 15px;
    font-weight: 400;
    margin: 8px 0;
    text-align: center;
}

.Service-portion .service-card span{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--theme-color);
    cursor: pointer;
}
/* ==================== /SERVICE PORTION ==================== */
/* ==================== SKILL PORTION ==================== */

.Skill-portion .skill-card{
    border-radius: var(--corner-radius);
    box-shadow: var(--shadow);
    background: var(--background-v2);
    padding: 25px 35px;
}

.Skill-portion .skill-card h5{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Skill-portion .skill-card h5 span{
    color: var(--theme-color);
    padding-right: 5px;
}

.Skill-portion .skill-card .skill-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.Skill-portion .skill-card .skill-set .skill-title{
    display: flex;
    align-items: center;
}

.Skill-portion .skill-card .skill-set .skill-title span.material-icons-round{
    color: var(--theme-color);
    font-size: 19px;
    margin-right: 6px;
}

.Skill-portion .skill-card .skill-set .skill-title span{
    color: var(--text-color-v3);
    font-weight: 500;
}

.Skill-portion .skill-card .progress-dot span{
    font-size: 21px;
    color: var(--background-v4);
}
/* ==================== /SKILL PORTION ==================== */

/* ==================== COMMON CSS ==================== */
h5{
    font-size: 20px;
    color: var(--text-color-v2);
    font-weight: 500;
    white-space: nowrap;
}

.portion-heading h2{
    font-size: 28px;
    color: var(--text-color-v1);
    font-weight: 600;
    text-align: center;
    margin-bottom: 4px;
}

.portion-heading span{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-v3);
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.flex-start{
    display: flex;
    align-items: flex-start;
}

h1 {
    font-size: 46px;
    font-weight: 600;
    color: var(--text-color-v1);
    margin-left: -3px;

}

h4 {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color-v1);
}

p {
    font-size: 16px;
    color: var(--text-color-v3);
    font-weight: 500;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-color: transparent;
}

.btn {
    display: flex;
    align-items: center;
    padding: 8px 22px;
    margin: 25px 0 8px 0;
    border: none;
    outline: none;
    background: var(--theme-color);
    cursor: pointer;
    border-radius: var(--corner-radius);
    font-weight: 500;
    transition: all 0.3s linear;
}

.btn a {
    display: flex;
    align-items: center;
}

.btn span,
.btn a span {
    color: var(--white-color);
}

.btn span.material-icons-round,
.btn a span.material-icons-round {
    font-size: 19px;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px 0;
}

.container:not(.Navbar-portion,.Banner-Portion){
    padding: 80px 0;

}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto !important;
    margin-left: auto !important;
    background: var(--background-v1);
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-x1-12,
.grid-x1-9,
.grid-x1-6,
.grid-x1-5,
.grid-x1-4{
    padding-left: 12px !important;
    padding-right: 12px !important;
    min-height: 1px;
}

.grid-12{
    width: 100%;
}

.grid-11{
    width: 91.666667%;
}

@media (min-width: 576px){
    /*576px to 967px small screen*/
    .grid-sm-10{
        width: 83.333333%;
    }

    .grid-sm-11{
        width: 91.666667%;
    }
    .grid-sm-8{
        width: 66.666666%;
    }
}

@media (min-width: 768px){
    /*768px to 967px medium screen*/
    .grid-md-6{
        width: 50%;
    }
    .grid-md-6{
        width: 50%;
    }
}

@media (min-width: 967px) {
    /*967px to 1200px large screen*/
    .grid-1g-6 {
        width: 50%;
    }

    .grid-1g-11{
        width: 91.666667%;
    }

    .grid-1g-6{
        width: 50%;
    }

    .grid-1g-4{
        width: 33.33333%;
    }
}

@media (min-width: 1200px) {
    /* >1200px extra large screen*/
    .grid-x1-12 {
        width: 100%;
    }

    .grid-x1-9 {
        width: 70%;
    }

    .grid-x1-6 {
        width: 50%;
    }

    .grid-x1-5{
        width: 41.666667%;
    }
    .grid-x1-4{
        width: 33.33333%;
    }
}


/* /==================== /COMMON CSS ==================== */

/* /==================== RESPONSIVE WEB(MEDIA QUERY) ==================== */
@media (min-width: 867px) {
    /* > 867 */
    .Navbar-portion .small-nav {
        display: none;
    }
}

@media (max-width: 868px) {
    /* < 868 */
    .Navbar-portion .nav-links {
        display: none;
    }
}

@media screen and (max-width: 967px) and (min-width: 768px) {
    /*967px to 768px*/
    .Banner-Portion .grid-x1-12 {
        flex-direction: column-reverse;
    }

    .Banner-Portion .banner-img svg {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .banner-img img {
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .grid-x1-6,
    .Service-portion .grid-x1-4{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 468px) {
    /*767px to 468px*/
    .Banner-Portion .grid-x1-12 {
        flex-direction: column-reverse;
    }

    .Banner-Portion {
        padding: 150px 0 50px 0;
    }

    .Banner-Portion .banner-img svg {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .banner-img img {
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .grid-x1-6,
    .About-portion .grid-1g-6,
    .Service-portion .grid-x1-4,
    .Skill-portion .grid-x1-6{
        margin-bottom: 20px;
    }

    .About-portion .grid-1g-6,
    .Service-portion .grid-x1-4,
    .Skill-portion .grid-x1-6{
        margin-left: auto;!important;
        margin-right: auto;!important;
    }

}

@media screen and (max-width: 467px) and (min-width: 368px) {
    /*467px to 368px*/
    .Banner-Portion .grid-x1-12 {
        flex-direction: column-reverse;
    }

    .Banner-Portion {
        padding: 120px 0 50px 0;
    }

    .Banner-Portion .banner-img svg {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .banner-img img {
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .grid-x1-6,
    .Service-portion .grid-x1-4,
    .Skill-portion .grid-x1-6{
        margin-bottom: 20px;
    }

    .Service-portion .grid-x1-4,
    .Skill-portion .grid-x1-6{
        margin-left: auto!important;
        margin-right: auto;!important;
    }
}

@media screen and (max-width: 367px) and (min-width: 0px) {
    /*367px to 0px*/
    .Banner-Portion .grid-x1-12 {
        flex-direction: column-reverse;
    }

    .Banner-Portion {
        padding: 100px 0 50px 0;
    }

    .Banner-Portion .banner-img svg {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .banner-img img {
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Banner-Portion .grid-x1-6,
    .Service-portion .grid-x1-4,
    .Skill-portion .grid-x1-6{
        margin-bottom: 20px;
    }

    .Service-portion .grid-x1-4,
    .Skill-portion .grid-x1-6{
        margin-left: auto!important;
        margin-right: auto!important;
    }
}


/* /==================== /RESPONSIVE WEB(MEDIA QUERY) ==================== */